<div class="nosotros-historia-video">
  <!-- Sección de Historia -->
  <div class="nosotros-historia">
      <h2 class="section-title">Nuestra Historia</h2>
      <p class="section-text">
          SkateHome nació con la pasión por el skateboarding y el deseo de ofrecer productos de calidad a la comunidad.
          Desde nuestros inicios, hemos trabajado para brindar los mejores artículos para skaters de todo el mundo.
          Nos esforzamos en garantizar la mejor calidad y en apoyar a la cultura del skateboarding en todas partes.
      </p>
  </div>

  <!-- Video -->
  <div class="nosotros-video">
    <iframe 
        class="video-container" 
        src="https://www.youtube.com/embed/_bzATDSKuVs" 
        title="Video de SkateHome"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</div>

